<!DOCTYPE html>
<html ng-app="ionicApp">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
	</head>
	<script src="../js/ionic.bundle.js"></script>
	<link rel="stylesheet" href="../css/ionic.css" />

	<body ng-controller="indexCtrl">
		<ion-header-bar class="bar bar-header bar-light">
			<button class="button" ng-click="showDelete=!showDelete">返回</button>
			<h1 class="title">标题</h1>
			<button class="button" ng-click="showReorder=!showReorder">返回</button>
		</ion-header-bar>
		<ion-content class="content">
			<ion-refresher></ion-refresher>
			<ion-list can-swipe="true" show-reorder="showReorder" show-delete="showDelete" class="list">
				<ion-item class="item">
					基本卡片，包含了文本信息。

					<ion-option-button class="button-royal">share</ion-option-button>
					<ion-option-button class="button-dark">share</ion-option-button>

					<ion-delete-button class="ion-minus-circled"></ion-delete-button>

					<ion-reorder-button class="ion-navicon">
					</ion-reorder-button>
				</ion-item>
			</ion-list>

			<ion-list class="list">
				<label class="item item-input">
					<input type="text" placeholder="First Name" />
				</label>
				<label class="item item-input">
					<input type="text" placeholder="First Name" />
				</label><label class="item item-input">
					<input type="text" placeholder="First Name" />
				</label>
				<div class="padding">
					<button class="button button-block button-energized">
  					button-energized
				</button>
				</div>
			</ion-list>

			<ion-list class="list">
				<ion-item class="item item-toggle">
					HTML5
					<label class="toggle toggle-positive">
             		<input type="checkbox" checked="">
	             		<div class="track">
	               			<div class="handle"></div>
	             		</div>
           			</label>
				</ion-item>
				<ion-toggle toggle-class="toggle-assertive">CSS</ion-toggle>
			</ion-list>

			<ul class="list">
				<li class="item item-checkbox">
					<label class="checkbox">
		             <input type="checkbox" checked="">
		           </label> Flux Capacitor
				</li>
				<li class="item item-checkbox">
					<label class="checkbox">
		             <input type="checkbox" checked="">
		           </label> 1.21 Gigawatts
				</li>
			</ul>

			<ion-list class="list">
				<ion-checkbox>复选框</ion-checkbox>
				<ion-checkbox>复选框</ion-checkbox>
			</ion-list>

			<div class="list">
				<label class="item item-radio">
          			<input type="radio" name="group" value="go" checked="checked">
			          <div class="item-content">
			            Go
			          </div>
          			<i class="radio-icon ion-checkmark"></i>
        		</label>
				<label class="item item-radio">
          			<input type="radio" name="group" value="python">
			          <div class="item-content">
			            Python
			          </div>
          			<i class="radio-icon ion-checkmark"></i>
        		</label>
			</div>

			<ion-list class="list">
				<ion-radio>单选框</ion-radio>
				<ion-radio>单选框</ion-radio>
				<ion-radio>单选框</ion-radio>
			</ion-list>

			<div class="range">
				<i class="icon ion-volume-low"></i>
				<input type="range" name="volume">
				<i class="icon ion-volume-high"></i>
			</div>

			<div class="list">
				<div class="item item-input item-select">
					<div class="input-label">
						Lightsaber
					</div>
					<select>
						<option>Blue</option>
						<option selected="">Green</option>
						<option>Red</option>
					</select>
				</div>
			</div>
		</ion-content>
		
	</body>
	<script>
		var app = angular.module('ionicApp', ['ionic']);
		app.controller('indexCtrl', function($scope) {
			$scope.showDelete = false;
			$scope.showReorder = false;
		})
	</script>

</html>