<html ng-app="ionicApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
	</head>
	<script src="../js/ionic.bundle.js"></script>
	<link rel="stylesheet" href="../css/ionic.css" />

	<body ng-controller="indexCtrl">
		<ion-header-bar class="bar-header bar-calm">
			<div class="button icon-left ion-star button-positive">左边</div>
			<h1 class="title">标题</h1>
			<div class="button">右边</div>
		</ion-header-bar>
		<ion-content>
			<ion-refresher pulling-text="Hi" pulling-icon="ion-ios-reload" refreshing-icon="ion-ios-reload" refreshing-text="iH" on-refresh="getData()"></ion-refresher>
			<!--<ion-list class="list">
				<ion-item class="item item-avatar" href="#" ng-repeat="new in news">
					<img ng-src="{{new.havePic?new.imageurls[0].url:'http://www.runoob.com/try/demo_source/venkman.jpg'}}">
					<h2>{{new.title}}</h2>
					<p>{{new.desc}}</p>
				</ion-item>
			</ion-list>-->
			<ion-list class="list card" ng-repeat="new in news">

				<div class="item item-avatar">
					<img ng-src="{{new.havePic?new.imageurls[0].url:'http://www.runoob.com/try/demo_source/venkman.jpg'}}">
					<h2>{{new.title}}</h2>
					<p>{{new.pubDate}}</p>
				</div>

				<div class="item item-body">
					<img class="full-image" style="height:20%; width:100%" src="http://www.runoob.com/try/demo_source/delorean.jpg">
					<p>
						{{new.desc}}
					</p>
					<p>
						<a href="#" class="subdued">1 喜欢</a>
						<a href="#" class="subdued">5 评论</a>
					</p>
				</div>

				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" href="#">
						<i class="icon ion-thumbsup"></i> 喜欢
					</a>
					<a class="tab-item" href="#">
						<i class="icon ion-chatbox"></i> 评论
					</a>
					<a class="tab-item" href="#">
						<i class="icon ion-share"></i> 分享
					</a>
				</div>

			</ion-list>

		</ion-content>

		<ion-footer-bar class="bar bar-footer bar-balanced">
			<button class="button button-calm">左边</button>
			<h1 class="title">标题</h1>
		</ion-footer-bar>
	</body>
	<script>
		var app = angular.module('ionicApp', ['ionic']);
		app.controller('indexCtrl', ['$scope', '$http', function($scope, $http) {
			$scope.name = 'abc'
			$scope.page = 1;
			$scope.news = [];
			$scope.getData = function() {
				$http.jsonp('news.php', {
					params: {
						page: $scope.page,
						channelId: '5572a109b3cdc86cf39001db',
						channelName: '国内最新',
						callback: 'JSON_CALLBACK'
					}
				}).success(function(data) {
					$scope.page++;
					console.log(data)
					$scope.news = data.showapi_res_body.pagebean.contentlist.concat($scope.news);
				}).finally(function() {
					$scope.$broadcast('scroll.refreshComplete')
				})
			}
			$scope.getData();
		}])
	</script>

</html>